@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    font-family: 'Poppins';
    height: 100vh;
    background: linear-gradient(#4C2394,#A3218E);
}

